{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}JourneyEats | dashboard{% endblock %}
{% block content %}
<div class="pagetitle">
    <h1>Blank Page</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Pages</li>
        <li class="breadcrumb-item active">Blank</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
    
        <p> Project still under development </p>
        <h2> Completed parts are:</h2>
        <ul>
          <li>
            <ol>Regestration and login</ol>
            <ol>Profile settings and management</ol>
          </li>
          <h3>Currently working on Chef listings</h3>
        </ul>

    </div>
  </section>
{% endblock %}